# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnpm-store/

# Expo & EAS
.expo/
dist/
web-build/
expo-env.d.ts
*.app
*.ipa
*.apk
*.aab

# Firebase & Local Secrets (CRITICAL)
.env
.env*.local
google-services.json
GoogleService-Info.plist

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# System & IDEs
.DS_Store
Thumbs.db
*.pem
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

eas-inspect/